pandas
numpy
math
pyspark
pytorch
xlearn
surprise
scikit-learn
prince
matplotlib
seaborn

Pytorch wide and deep - https://github.com/jrzaurin/pytorch-widedeep.git
xLearn - https://xlearn-doc.readthedocs.io/en/latest/install/index.html
